<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/uua8gvk.css">
    <script src="../static/common.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title>Chessboard</title>
</head>
<body>
    <h1 id="flipButton">FLIP</h1>
    <table id="chesstable"></table>
    <h1 id="randButton">COLORS</h1></h2>
    <h2 id="error"></h2>
</body>
</html>