body{
    background-color: #E8B36F;
}

table{
    background-color: black;
    width: 270px;
    position: absolute;
    top: 30%;
    left: 40%;
}

td{
    width: 30px;
    height: 30px;
}

h1{
    font-family: bebas-neue;
    font-size: 300%;
    background-color: #FFCF6E;
    position: absolute;
    box-shadow: 7px 7px #BA915B;
    padding: 20px;
}

#flipButton{
    top: 7%;
    left: 45%;
}

#flipButton:hover{
    box-shadow: none;
    top: 7.5%;
    left: 45.5%;
    cursor: pointer;
}

#randButton{
    top: 66.5%;
    left: 43.5%;
}

#randButton:hover{
    box-shadow: none;
    cursor: pointer;
    top: 67%;
    left: 44%;
}




